[submodule "miredo"]
	path = miredo
	url = ../miredo
[submodule "tuntaposx"]
	path = tuntaposx
	url = git://tuntaposx.git.sourceforge.net/gitroot/tuntaposx/tuntaposx
[submodule "libjudy"]
	path = libjudy
	url = git://github.com/darconeous/judy.git
